.container {
  width: 50%;
  margin-top: 100px;
}

body {
  background: #2f7336; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #aa3a38, #2f7336); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #aa3a38,
    #2f7336
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  h3 {
    font-size: 16px;
    text-align: center;
  }
  label {
    display: none;
  }
  body {
    text-align: center;
    font-size: 12px;
  }

  #textarea1 {
    font-size: 10px;
  }

  #display {
    font-size: 10px;
  }

  #submitBtn,
  #resetBtn {
    font-size: 10px;
  }

  .container {
    width: 80%;
  }
}

@media screen and (min-width: 481px) {
  small {
    display: none;
  }
}
